@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new student</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.StudentName, new { @class="mdl-textfield__label" })
    @Html.TextBoxFor(model => model.StudentName, new { @class="mdl-textfield__input", @required="true"  })

    @Html.LabelFor(model => model.EnrollmentDate)
    @Html.EditorFor(model => model.EnrollmentDate)

    @Html.Label("Select course")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Add new Student" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Students", "Index")</p>